:root {
    --theme-text: #f97e72;
    --theme-text-subtle: #ff7edb;
    --theme-text-invert: #34294f66;
    --theme-body-background: #262335;

    --theme-primary-base: #A897C3;
    --theme-primary-background: #4B3C68;
    --theme-primary-background-glow-high-contrast: #4B3C68;
    --theme-primary-dark: #C8BEDA;
    --theme-primary-hover: #917DB5;
    --theme-primary-active: #9D8ABC;
    --theme-primary-invert: #000;
    --theme-body-background-medium: #f97e72;



    --theme-selection-background: #ffffff20;
    --theme-errorForeground: #fe4450;
    --theme-textLink-foreground: #f97e72;
    --theme-button-background: #614D85;
    --theme-dropdown-background: #232530;
    --theme-dropdown-listBackground: #2a2139;
    --theme-input-background: #2a2139;
    --theme-inputOption-activeBorder: #ff7edb99;
    --theme-inputValidation-errorBackground: #fe445080;
    --theme-inputValidation-errorBorder: #fe445000;
    --theme-scrollbar-shadow: #2a2139;
    --theme-scrollbarSlider-activeBackground: #9d8bca20;
    --theme-scrollbarSlider-background: #9d8bca30;
    --theme-scrollbarSlider-hoverBackground: #9d8bca50;
    --theme-badge-foreground: #ffffff;
    --theme-badge-background: #2a2139;
    --theme-progressBar-background: #f97e72;
    --theme-list-activeSelectionBackground: #ffffff20;
    --theme-list-activeSelectionForeground: #ffffff;
    --theme-list-dropBackground: #34294f66;
    --theme-list-focusBackground: #ffffff20;
    --theme-list-focusForeground: #ffffff;
    --theme-list-highlightForeground: #f97e72;
    --theme-list-hoverBackground: #37294d99;
    --theme-list-hoverForeground: #ffffff;
    --theme-list-inactiveSelectionBackground: #ffffff20;
    --theme-list-inactiveSelectionForeground: #ffffff;
    --theme-list-inactiveFocusBackground: #2a213999;
    --theme-list-errorForeground: #fe4450E6;
    --theme-list-warningForeground: #72f1b8bb;
    --theme-activityBar-background: #171520;
    --theme-activityBar-dropBackground: #34294f66;
    --theme-activityBar-foreground: #ffffffCC;
    --theme-activityBarBadge-background: #f97e72;
    --theme-activityBarBadge-foreground: #2a2139;
    --theme-sideBar-background: #241b2f;
    --theme-sideBar-foreground: #ffffff99;
    --theme-sideBar-dropBackground: #34294f4c;
    --theme-sideBarSectionHeader-background: #241b2f;
    --theme-sideBarSectionHeader-foreground: #ffffffca;
    --theme-menu-background: #463465;
    --theme-editorGroup-border: #495495;
    --theme-editorGroup-dropBackground: #4954954a;
    --theme-editorGroupHeader-tabsBackground: #241b2f;
    --theme-tab-border: #241b2f00;
    --theme-tab-activeBorder: #880088;
    --theme-tab-inactiveBackground: #262335;
    --theme-editor-background: #262335;
    --theme-editorLineNumber-foreground: #ffffff73;
    --theme-editorLineNumber-activeForeground: #ffffffcc;
    --theme-editorCursor-background: #241b2f;
    --theme-editorCursor-foreground: #f97e72;
    --theme-editor-selectionBackground: #ffffff20;
    --theme-editor-selectionHighlightBackground: #ffffff20;
    --theme-editor-wordHighlightBackground: #34294f88;
    --theme-editor-wordHighlightStrongBackground: #34294f88;
    --theme-editor-findMatchBackground: #D18616bb;
    --theme-editor-findMatchHighlightBackground: #D1861655;
    --theme-editor-findRangeHighlightBackground: #34294f1a;
    --theme-editor-hoverHighlightBackground: #463564;
    --theme-editor-lineHighlightBorder: #7059AB66;
    --theme-editor-rangeHighlightBackground: #49549539;
    --theme-editorIndentGuide-background: #444251;
    --theme-editorIndentGuide-activeBackground: #A148AB80;
    --theme-editorRuler-foreground: #A148AB80;
    --theme-editorCodeLens-foreground: #ffffff7c;
    --theme-editorBracketMatch-background: #34294f66;
    --theme-editorBracketMatch-border: #495495;
    --theme-editorOverviewRuler-border: #34294fb3;
    --theme-editorOverviewRuler-findMatchForeground: #D1861699;
    --theme-editorOverviewRuler-modifiedForeground: #b893ce99;
    --theme-editorOverviewRuler-addedForeground: #09f7a099;
    --theme-editorOverviewRuler-deletedForeground: #fe445099;
    --theme-editorOverviewRuler-errorForeground: #fe4450dd;
    --theme-editorOverviewRuler-warningForeground: #72f1b8cc;
    --theme-editorError-foreground: #fe4450;
    --theme-editorWarning-foreground: #72f1b8cc;
    --theme-editorGutter-modifiedBackground: #b893ce8f;
    --theme-editorGutter-addedBackground: #206d4bd6;
    --theme-editorGutter-deletedBackground: #fa2e46a4;
    --theme-diffEditor-insertedTextBackground: #0beb9935;
    --theme-diffEditor-removedTextBackground: #fe445035;
    --theme-editorWidget-background: #171520DC;
    --theme-editorWidget-border: #ffffff22;
    --theme-editorWidget-resizeBorder: #ffffff44;
    --theme-editorSuggestWidget-highlightForeground: #f97e72;
    --theme-editorSuggestWidget-selectedBackground: #ffffff36;
    --theme-peekView-border: #495495;
    --theme-peekViewEditor-background: #232530;
    --theme-peekViewEditor-matchHighlightBackground: #D18616bb;
    --theme-peekViewResult-background: #232530;
    --theme-peekViewResult-matchHighlightBackground: #D1861655;
    --theme-peekViewResult-selectionBackground: #2a213980;
    --theme-peekViewTitle-background: #232530;
    --theme-panelTitle-activeBorder: #f97e72;
    --theme-statusBar-background: #241b2f;
    --theme-statusBar-foreground: #ffffff80;
    --theme-statusBar-debuggingBackground: #f97e72;
    --theme-statusBar-debuggingForeground: #08080f;
    --theme-statusBar-noFolderBackground: #241b2f;
    --theme-statusBarItem-prominentBackground: #2a2139;
    --theme-statusBarItem-prominentHoverBackground: #34294f;
    --theme-titleBar-activeBackground: #241b2f;
    --theme-titleBar-inactiveBackground: #241b2f;
    --theme-extensionButton-prominentBackground: #f97e72;
    --theme-extensionButton-prominentHoverBackground: #ff7edb;
    --theme-pickerGroup-foreground: #f97e72ea;
    --theme-terminal-foreground: #ffffff;
    --theme-terminal-ansiBlue: #03edf9;
    --theme-terminal-ansiBrightBlue: #03edf9;
    --theme-terminal-ansiBrightCyan: #03edf9;
    --theme-terminal-ansiBrightGreen: #72f1b8;
    --theme-terminal-ansiBrightMagenta: #ff7edb;
    --theme-terminal-ansiBrightRed: #fe4450;
    --theme-terminal-ansiBrightYellow: #fede5d;
    --theme-terminal-ansiCyan: #03edf9;
    --theme-terminal-ansiGreen: #72f1b8;
    --theme-terminal-ansiMagenta: #ff7edb;
    --theme-terminal-ansiRed: #fe4450;
    --theme-terminal-ansiYellow: #f3e70f;
    --theme-terminal-selectionBackground: #ffffff20;
    --theme-terminalCursor-background: #ffffff;
    --theme-terminalCursor-foreground: #03edf9;
    --theme-debugToolBar-background: #463465;
    --theme-walkThrough-embeddedEditorBackground: #232530;
    --theme-gitDecoration-modifiedResourceForeground: #b893ceee;
    --theme-gitDecoration-deletedResourceForeground: #fe4450;
    --theme-gitDecoration-addedResourceForeground: #72f1b8cc;
    --theme-gitDecoration-untrackedResourceForeground: #72f1b8;
    --theme-gitDecoration-ignoredResourceForeground: #ffffff59;
    --theme-minimapGutter-addedBackground: #09f7a099;
    --theme-minimapGutter-modifiedBackground: #b893ce;
    --theme-minimapGutter-deletedBackground: #fe4450;
    --theme-breadcrumbPicker-background: #232530;
}